# Mac system files
.DS_Store

# Compiled files
*.out
*.exe

# Debug files
*.dSYM/

# Binaries
RemoveDuplicates
SellStock
Arrayops
BinarySearch
Bubble
Selection
ll
rev
stackarray
star
# Ignore all files without extension (compiled binaries)
*

# Allow only these files
!*.cpp
!*.h
!*.md
!*.gitignore
